
masamangalternatibo/bin/Debug/compiler.exe
masamangalternatibo/bin/Debug/convert.exe
masamangalternatibo/bin/Debug/$tmp.bmp
Release/_AutoIt_License.txt
Release/_ImageMagick_License.txt
Release/compiler.exe
Release/convert.exe
Release/mA.exe
Release/_mA_license.txt
