
masamangalternatibo/bin/Debug/compiler.exe
masamangalternatibo/bin/Debug/$tmp.bmp
Release/_AutoIt_License.txt
Release/compiler.exe
Release/upx.exe
Release/mA.exe
Release/_mA_license.txt
masamangalternatibo/obj/Debug/masamangalternatibo.exe
masamangalternatibo/obj/Debug/IconLib.dll
Release/IconLib.dll
masamangalternatibo/bin/Debug/$temp.ico
masamangalternatibo/bin/Debug/IconLib.dll
masamangalternatibo/bin/Debug/masamangalternatibo.exe
masamangalternatibo/bin/Debug/upx.exe